<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.ifaldyprayanda.moviecatalogue3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.apps.ifaldyprayanda.moviecatalogue3.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.apps.ifaldyprayanda.moviecatalogue3.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".details.DetailMovieTopActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".details.DetailTvShowActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".details.DetailMovieFavActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".details.DetailTvFavActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".notification.SettingActivity"
            android:parentActivityName=".MainActivity"></activity>

        <receiver android:name=".widget.MovieFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_favorite_widget_info" />
        </receiver>
        <receiver
            android:name=".notification.SettingReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".provider.FavProvider"
            android:authorities="com.apps.ifaldyprayanda.moviecatalogue3"
            android:exported="true"
            android:readPermission="com.apps.ifaldyprayanda.moviecatalogue3.READ_DATABASE"
            android:writePermission="com.apps.ifaldyprayanda.moviecatalogue3.WRITE_DATABASE" />

    </application>

</manifest>